img 
{
    display: none;
}

main
{
    align-content: center;
    text-align: center;
}

nav
{
    text-align: center;
}

.list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list a
{
    padding: 1vh 0 1vh 0;
    background-color: var(--main-text-color);
    border-radius: 25px;
}
.container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 5vw 0 5vw;
    height: 98vh;
    justify-content: center;
    align-content: center;
    gap: 2vh;

}

div > p
{
    margin: 0;
}

div > h1
{
    margin-bottom: 0;
}