:root {
    --main-bg-color: #2C3E50;
    --main-text-color: #ECF0F1;
    --main-accent-color: #E74C3C;
  }  

body
{
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

a
{
    color: var(--main-accent-color);
    text-decoration: none;
}

h1
{
    text-decoration: underline;
}
