:root {
    --main-bg-color: #2C3E50;
    --main-text-color: #ECF0F1;
    --main-accent-color: #E74C3C;
  }  

body
{
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 30px;
}